<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->

 	<!-- creando bean de disquera dao -->
 	
    <bean id="disqueraDaoBean" class="com.sergiodl.spring_desktop.dao.impl.DisqueraDaoImpl">
       
    </bean>
    
    <!-- creates a java.util.Properties instance with values loaded from the supplied location -->
	<bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
  		<property name="location" value="classpath:config.properties"/>
	</bean>

    <!-- more bean definitions for services go here -->

</beans>
